{% extends 'base.html' %}

{% load static from staticfiles %}

{% block content %}


<div class="form-margin"></div>
<div class="container">
    <div class="form-item">
        <form method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group">
                {{ form.username.errors }}
                <label for="{{ form.username.id_for_label }}">Username</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                {{ form.password.errors }}
                <label for="{{ form.password.id_for_label }}">Password</label>
                {{ form.password }}
            </div>
            <div class="form-group">
                {{ form.email.errors }}
                <label for="{{ form.email.id_for_label }}">Email</label>
                {{ form.email }}
            </div>
            <div class="form-group">
                {{ form.event.errors }}
                <label for="{{ form.event.id_for_label }}">Event</label>
                {{ form.event }}
            </div>
            <div class="centre-itens">
                <input type="submit" class="btn btn-primary" value="Join now">
            </div>
        </form>
    </div>
</div>
<div class="form-margin"></div>

{% endblock %}