{% extends "base.html" %}

{% load static from staticfiles %}

{% block content %}
  <div class="text-center text-white">
  <form method="post">
    {% csrf_token %}
    <!-- {{ form.as_p }} -->
       <div class="py-3 text-center">
           <div class="container">
               <div class="row text-white text-center">
                   <div class="col-8 col-lg-6 mx-auto text-light py-0">
                       <h3 class="display-4">LOGIN</h3>
                       <form class="text-left py-3" method="POST">
                       <div class="form-group"> 
                           <label for="form17">Username</label> 
                           <input type="text" class="form-control" id="{{form.username}}
                       </div>
                       <div class="form-group"> 
                           <label for="form19">Password</label> 
                           <input type="password" class="form-control" id="{{form.password}} 
                       </div>
                       <br>
                       <button type="submit" class="btn btn-secondary">Log In</button>
                       </form>
                   </div>
               </div>
           </div>
       </div>
       <!-- <div class="form-group"> 
           <label for="form17">Username</label> 
           <input type="text" class="form-control" id="{{form.username}}
       </div>
       <div class="form-group"> 
           <label for="form19">Password</label> 
           <input type="password" class="form-control" id="{{form.password}} 
       </div>
    <button type="submit">Log in</button> -->
  </form>
   <br>
  <p><strong>-- OR --</strong></p>
  <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
</div>
<div class="footer-margin-event"></div>

{% endblock %}