{% extends 'base.html' %}

{% load static from staticfiles %}

{% block content %}



{% if user.is_authenticated %}
  <title>Event</title>



	<div class="container bg-container my-3 ">
		<div class="row m-0 px-0 py-3 ">
			<div class=" col-12 col-lg-3 section p-3 mb-3 mb-lg-auto">
			<div class="img-event text-center">
				<img class="img-fluid" src="http://pinkplumbingservices.co.uk/wp-content/uploads/2016/08/profile-1.png" alt="Foto Profil XXX" />
			</div>
			<div class="my-2 text-center">
				<b> {{ user.first_name }} {{ user.last_name }}  </b>
				<br/>
				{{ user.username }}
				<br/>
				{{ user.email }}
			</div>
			<br>
		</div>

			<div class="section col-12 col-lg-9 p-3">
					Total Event That I Join : <br>
					<div class="total-event">{{count}}</div>
			
			<hr>

			My Event :
			{% if registered_events %}
					{% else %}
					<div class="card">
						<div class="card-body">
								<h7 class="card-title">None</h7>
								<p class="card-text"></p>	
						</div>
					</div>
					{% endif %}



		</div>
	</div>
<div class="footer-margin-event"></div>	
<script>
	$(document).ready(function(){
		$.ajax({
			method: "GET",
			url: "get-events/",
			data: {},
			success: function(response) {
				var all_events = response.data;
				for (var event in all_events) {
					var e = '<div class="card">\
								 <img class="card-img-top" src="' + all_events[event].photo + '" alt="Card image cap">\
									 <div class="card-body">\
										<h5 class="card-title">' + all_events[event].name + ' (' + all_events[event].date + ')' + '</h5>\
										<p class="card-text">' + all_events[event].description + '</p>\
									 </div>\
								 </div>\
							 </div>';
					$(".card-deck").append(e);
				}
			}
		})
	});
</script>


{% else %}
	<script type="text/javascript">
		alert("Login First")
		window.location.replace("/login/")
	</script>
{% endif %}

{% endblock %}