body {
    background-color: #58CFFB;
    font-family: "Montserrat", serif;
}

.landing-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}