body {
    background-image: linear-gradient( 135deg, #2AFADF 10%, #4C83FF 100%);
    font-family: "Montserrat", serif;
}

.about-container {
    color: white;
    text-align: center;
    margin-top: 1em;
}

.about-text {
    display: inline-block;
}

.bold-text {
    font-weight: 900;
}

.black-text {
    color: black;
}

.btn-comment-margin {
    margin-bottom: 1em;
}

.btn-details {
    width: 20em;
    background-color: transparent;
    border-color: white;
}

.btn-left-margin {
    margin-left: 5vw;
}


.btn-right-margin {
    margin-right: 5vw;
}

.comment-empty {
    color: white;
    text-align: center;
    justify-content: center;
}

.comment-form {
    flex-direction: row;
}

.comment-margin {
    margin-top: 50vh;
}

.event-photo {
    max-width: 40vw;
    max-height: 40vh;
}

.event-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.event-item {
    background-color: white;
    border: 5px solid white;
    border-radius: 0.5rem;
    box-shadow: rgba(36, 37, 38, 0.13) 0px 0.25rem 1rem;
    margin-top: 30px;
    word-break: break-all; 
    word-wrap: break-word;
}

.event-margin {
    margin-top: 10px;
}

.event-media {
    display: flex;
    flex-direction: column;
    justify-content: left;
}


.footer-height {
    min-height: 100vh;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-icon-margin {
    margin-right: 1vw;
}

.footer-margin {
    margin-top: 5vh;
}

.footer-margin-event {
    min-height: 100vh;
}

.footer-padding {
    padding-bottom: 5vh;
}

.form-item {
    background-color: white;
    border: 5px solid white;
    border-radius: 0.5rem;
    box-shadow: rgba(36, 37, 38, 0.13) 0px 0.25rem 1rem;
    margin-top: 30px;
    word-break: break-all; 
    word-wrap: break-word;
}

.form-margin {
    min-height: 30vh;
}

.img-size {
    max-width: 2vw;
    max-height: 2vw;
}

.item-padding {
    padding-bottom: 5vh;
}

.landing-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.nav-text {
    font-family: "Montserrat", serif;
}

.news-item {
    background-color: white;
    border: 5px solid white;
    border-radius: 0.5rem;
    box-shadow: rgba(36, 37, 38, 0.13) 0px 0.25rem 1rem;
    margin-top: 30px;
    word-break: break-all; 
    word-wrap: break-word;
}

.news-item-separator {
    margin-top: 1em;
}

.news-align {
    margin-top: 0.5em;
    margin-left: 0.5em;
    text-align: justify;
}

.semi-white {
    background-color: #F8F9FA;
}

.white-text {
    color: white;
}

@media screen and (max-width: 64em) {
    .font-setter {
        font-size: 1.25rem;
    }
}

@media (min-width: 992px) {
    .footer-split {
        flex-direction: row;
    }

    .social-medias {
        flex-direction: row;
        justify-content: center;
    }

}

@media screen and (max-width: 20em) {
    .landing-setter {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 800px) {
    .btn-setter {
        margin-top: 20px;
    }

    .img-size {
        max-width: 20px;
        max-height: 20px;
    }
}