{% extends 'base.html' %}

{% block content %}

<div>
	{% for data in event %}
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<div class="event-item black-text">
						<h3 class="bold-text event-margin">{{ data.name }}</h3>
						<p><span class="glyphicon glyphicon-calendar"></span> {{ data.date }}</p>
						<p><span class="glyphicon glyphicon-map-marker"></span> {{ data.place }}</p>
						<p>{{ data.description|linebreaks }}</p>
						<button type="button" href= "{%url 'event:event' %}" class="btn btn-primary">Join Now</button>
						</script>
					</div>
				</div>
				<div class="col-xs-12 col-md-6">
					<div class="event-item">
						<img class="event-photo" src="{{ data.photo }}">
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
</div>

<div class="footer-margin-event"></div>

{% endblock %} 

