{% extends 'base.html' %}

{% load static from staticfiles %}

{% block content %}

<div class="container about-container">
    <div class="about-text">
        <h2>
            Student Union is an non-profit organization, initiated by students from Faculty of Computer Science, Universitas Indonesia.
        </h2>
    </div>
</div>
{% if request.user.is_authenticated %}
<div class="container white-text">
    <form method="POST">
        {% csrf_token %}
        {{ form.comment.errors }}
        <label for="{{ form.message.id_for_label }}">Comment:</label>
        <br>
        {{ form.comment }}
        <br class="btn-comment-margin">
        <input class="btn btn-success" type="submit"></input>
    </form>
</div>
{% endif %}
<div>
    {% for c in comments %}
    <div class="container item-padding">
        <div class="news-item black-text">
            <div class="news-align">
                <p class="news-item-separator font-setter">{{ c.comment|linebreaks }}</p>
            </div>
        </div>
    </div>
    {% empty %}
        <div class="comment-empty"><h2>Nothing to show here!</h2></div>
        <div class="comment-margin"></div>
    {% endfor %}
</div>

{% endblock %}