{% extends 'base.html' %}

{% load static from staticfiles %}

{% block content %}

<div class="py-3 text-center">
    <div class="container">
        <div class="row text-white text-center">
            <div class="col-10 col-lg-8 mx-auto text-light py-0">
                <h3 class="display-3">JOIN NOW !</h3>
                <form class="text-left py-3" method="POST">
                {% csrf_token %}
                <div class="form-group"> 
                    <label for="form16">Name</label> 
                    <input type="text" class="form-control" id="{{form.name}} 
                </div>
                <div class="form-group"> 
                    <label for="form17">Username</label> 
                    <input type="text" class="form-control" id="{{form.username}}
                </div>
                <div class="form-group"> 
                    <label for="form18">Email</label> 
                    <input type="email" class="form-control" id="{{form.email}} 
                </div>
                <div class="form-group"> 
                    <label for="form17">BirthDate</label> 
                    <input type="date" class="form-control" id="{{form.birthdate}}
                </div>
                <div class="form-group"> 
                    <label for="form17">Address</label> 
                    <input type="text" class="form-control" id="{{form.adress}}
                </div>
                <div class="form-group"> 
                    <label for="form19">Password</label> 
                    <input type="password" class="form-control" id="{{form.password}} 
                </div>
                <br>
                <button type="submit" class="btn btn-secondary">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

<!-- <!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.1.3.css">
  <title>Join Member</title>
</head>

<body class="" style=" background-image: linear-gradient( 135deg, #2afadf 10%, #4c83ff 100%)">
  
  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous" style=""></script>
</body>

</html>
 -->
