{% load static from staticfiles %}

<nav class="navbar navbar-expand-lg navbar-light bg-light footer-content footer-split">
    <a href="https://www.facebook.com">
        <img class="img-size footer-icon-margin" src="{% static 'facebook.png' %}" alt="Facebook">
    </a>
    <a href="https://www.twitter.com">
        <img class="img-size footer-icon-margin" src="{% static 'twitter.png' %}" alt="Twitter">
    </a>
    <a href="https://www.instagram.com">
        <img class="img-size footer-icon-margin" src="{% static 'instagram.png' %}" alt="Twitter">
    </a>
    <a href="https://www.youtube.com">
        <img class="img-size footer-icon-margin" src="{% static 'youtube.png' %}" alt="Twitter">
    </a>
</nav>