{% load static from staticfiles %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand nav-text" href="{% url 'landing:landing' %}">Student Union</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'landing:news' %}">News <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-text" href="{% url 'event:event' %}">Event</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-text" href="{% url 'JoinMember:CreateMember' %}">Become a member</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-text" href="{% url 'about:about' %}">About</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link nav-text" href="{% url 'JoinEvent:join' %}">Join an event</a>
            </li>
            {% endif %}
            <li>
                {% if user.is_authenticated %}
                        <a class="nav-link nav-text" href="{% url 'logout' %}">Log out</a>
                {% else %}
                    <a class="nav-link nav-text" href="{% url 'login' %}">Log in</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>