{% extends 'base.html' %}

{% load static from staticfiles %}

{% block content %}

{% if user.is_authenticated %}
    <p class="display-4 text-white">Hello, {{ user.username }}</p>
{% else %}
{% endif %}

<div class="landing-content landing-setter white-text">
    <div>
        <h2>Student Union</h2>
        <h3>is a non-profit organization</h3>
        <h3>run by students from Faculty of Computer Science</h3>
        <h3>that accommodate talents and interest of students</h3>
        <br>
        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="{% url 'landing:news' %}" class="btn btn-primary btn-details">News today</a>
                </div>
                <div class="col btn-setter">
                    <a href="{% url 'event:event' %}" class="btn btn-primary btn-details">View event</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}