{% extends 'base.html' %}

{% load static from staticfiles %}

{% block content %}

<div>
    {% for n in news %}
        <div class="container item-padding">
            <div class="news-item black-text">
                <div class="news-align">
                    <h2 class="bold-text font-setter">{{ n.title }}</h2>
                    <h3 class="news-item-separator font-setter">{{ n.date }}</h3>
                    <p class="news-item-separator font-setter">{{ n.description|linebreaks }}</p>
                </div>
            </div>
        </div>
    {% empty %}
        <h6>No available news now!</h6>
        <div class="footer-height"></div>
    {% endfor %}
</div>

{% endblock %}